@font-face {
    font-family: 'HKGrotesk';
    src: url('../../dist/fonts/hk-grotesk/HKGrotesk-Bold.otf') format('otf');
    /* IE9 Compat Modes */
    src: url('../../dist/fonts/hk-grotesk/HKGrotesk-Bold.eot') format('embedded-opentype'), /* IE6-IE8 */
        url('../../dist/fonts/hk-grotesk/HKGrotesk-Bold.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../../dist/fonts/hk-grotesk/HKGrotesk-Bold.woff') format('woff'), /* Pretty Modern Browsers */
        url('../../dist/fonts/hk-grotesk/HKGrotesk-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../../dist/fonts/hk-grotesk/HKGrotesk-Bold.svq') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'HKGrotesk';
    src: url('../../dist/fonts/hk-grotesk/HKGrotesk-Regular.otf') format('otf');
    /* IE9 Compat Modes */
    src: url('../../dist/fonts/hk-grotesk/HKGrotesk-Regular.eot') format('embedded-opentype'), /* IE6-IE8 */
        url('../../dist/fonts/hk-grotesk/HKGrotesk-Regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../../dist/fonts/hk-grotesk/HKGrotesk-Regular.woff') format('woff'), /* Pretty Modern Browsers */
        url('../../dist/fonts/hk-grotesk/HKGrotesk-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../../dist/fonts/hk-grotesk/HKGrotesk-Regular.svq') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'HKGrotesk';
    src: url('../../dist/fonts/hk-grotesk/HKGrotesk-Medium.otf') format('otf');
    /* IE9 Compat Modes */
    src: url('../../dist/fonts/hk-grotesk/HKGrotesk-Medium.eot') format('embedded-opentype'), /* IE6-IE8 */
        url('../../dist/fonts/hk-grotesk/HKGrotesk-Medium.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../../dist/fonts/hk-grotesk/HKGrotesk-Medium.woff') format('woff'), /* Pretty Modern Browsers */
        url('../../dist/fonts/hk-grotesk/HKGrotesk-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../../dist/fonts/hk-grotesk/HKGrotesk-Medium.svq') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'HKGrotesk';
    src: url('../../dist/fonts/hk-grotesk/HKGrotesk-Light.otf') format('otf');
    /* IE9 Compat Modes */
    src: url('../../dist/fonts/hk-grotesk/HKGrotesk-Light.eot') format('embedded-opentype'), /* IE6-IE8 */
        url('../../dist/fonts/hk-grotesk/HKGrotesk-Light.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../../dist/fonts/hk-grotesk/HKGrotesk-Light.woff') format('woff'), /* Pretty Modern Browsers */
        url('../../dist/fonts/hk-grotesk/HKGrotesk-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../../dist/fonts/hk-grotesk/HKGrotesk-Light.svq') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'HKGrotesk';
    src: url('../../dist/fonts/hk-grotesk/HKGrotesk-ExtraBold.otf') format('otf');
    /* IE9 Compat Modes */
    src: url('../../dist/fonts/hk-grotesk/HKGrotesk-ExtraBold.eot') format('embedded-opentype'), /* IE6-IE8 */
        url('../../dist/fonts/hk-grotesk/HKGrotesk-ExtraBold.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../../dist/fonts/hk-grotesk/HKGrotesk-ExtraBold.woff') format('woff'), /* Pretty Modern Browsers */
        url('../../dist/fonts/hk-grotesk/HKGrotesk-ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../../dist/fonts/hk-grotesk/HKGrotesk-ExtraBold.svq') format('svg'); /* Legacy iOS */
}