@import 'font.scss';
@import 'general.scss';
@import 'customize.scss';

.wrapper-logo {
    height: 70px;
    width: 200px;
    overflow: hidden;

    .logo {
        display: block;
        width: 100%;
        height: auto;
    }
}

.container {
    .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.container-header {
    
    #domain {
        
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .desk-icon {
            height: 30px;
            width: 30px;
            background-color: rgb(0 0 0 / 4%);
            padding: 13% 15%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: .25rem;
        }
        .account-info {
            margin-left: 20px;
            h2 {
                font-size: 2.25rem;
            }
            small {
                color: #777777;
            }
        }
    }
}
.container-main {
    color: #5A5A5A;
    text-align: left;
    background-color: #fff;
    display: block;
    width: 100%;
    padding: 2rem;
    border: 1px solid #d6d6d6;
    overflow: hidden;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 10%), 0 0 0 8px rgb(0 0 0 / 4%);
    border-radius: .25rem;
}

.container-body {
    .add_label {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        h2 {
            margin-left: 10px;
        }
    }
}

.container-footer {
    .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

form {
    .form-row {
        display: flex;
        margin-bottom: 20px;
    }

    label {
        color: #000;
        font-weight: light;
    }
}

hr {
    margin: 3rem -2rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}










/************************** toggle button */
label.switch {
    text-align: left;
    width: 67px;
    height: calc(67px / 2);
    border-radius: 60px;
    background-color: #1cc691;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

label.switch>span {
    display: block;
    width: 100%;
    height: 100%;
}

label.switch>input[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

label.switch>span:before,
label.switch>span:after {
    content: "";
    cursor: pointer;
    position: absolute;
}

label.switch>input[type="checkbox"]:focus~span {
    //box-shadow: 0 0 0 4px #1cc691;
}

label.switch>input[type="checkbox"]:checked:focus~span {
    //box-shadow: 0 0 0 4px #fff;
}

label.switch>span {
    border-radius: 60px;
}

label.switch>span:before {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #f1f1f1;
    border-radius: 60px;
    transition: opacity .2s ease-out .1s, transform .2s ease-out .1s;
    transform: scale(1);
    opacity: 1;
}

label.switch>span:after {
    top: 50%;
    z-index: 3;
    transition: transform .4s cubic-bezier(0.44, -0.12, 0.07, 1.15);
    width: calc(67px / 2.3);
    height: calc(67px / 2.3);
    transform: translate3d(0, -50%, 0);
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

//Animate the switch when checked.
label.switch>input[type="checkbox"]:checked~span:before {
    transform: scale(0);
    opacity: .7;
}

label.switch>input[type="checkbox"]:checked~span:after {
    transform: translate3d(125%, -50%, 0);
}