@import 'font.scss';
@import 'general.scss';

.wrapper-logo {
    height: 70px;
    width: 200px;
    overflow: hidden;

    .logo {
        display: block;
        width: 100%;
        height: auto;
    }
}

.container-header {

    #domain {

        display: flex;
        justify-content: flex-start;
        align-items: center;

        .desk-icon {
            height: 30px;
            width: 30px;
            background-color: rgb(0 0 0 / 4%);
            padding: 13% 15%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: .25rem;
        }

        .account-info {
            margin-left: 20px;

            h2 {
                font-size: 2.25rem;
            }

            small {
                color: #777777;
            }
        }
    }
}

.container-main {
    color: #5A5A5A;
    text-align: left;
    width: 100%;
    padding: 3rem;
    overflow: hidden;
    margin: 35px auto;
}

.container-body {
    .toggle-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 55px;

        h2 {
            margin-left: 10px;
        }
    }
}

.container-footer {
    .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    a:not(.btn-primary) {
        color: rgba(90,90,90,1);
        font-size: 18px;
    }
}

form {
    .form-row {
        display: flex;
        margin-bottom: 45px;

        .form-column {
            &:not(:first-of-type) {
                margin-left: 80px;
            }
        }
    }
}

hr {
    margin: 3rem -3rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}



/************************** toggle button */
label.toggler {
    text-align: left;
    width: 67px;
    height: calc(67px / 2);
    border-radius: 60px;
    background-color: #1cc691;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

label.toggler>span {
    display: block;
    width: 100%;
    height: 100%;
}

label.toggler>input[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

label.toggler>span:before,
label.toggler>span:after {
    content: "";
    cursor: pointer;
    position: absolute;
}

label.toggler>input[type="checkbox"]:focus~span {
    //box-shadow: 0 0 0 4px #1cc691;
}

label.toggler>input[type="checkbox"]:checked:focus~span {
    //box-shadow: 0 0 0 4px #fff;
}

label.toggler>span {
    border-radius: 60px;
}

label.toggler>span:before {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #f1f1f1;
    border-radius: 60px;
    transition: opacity .1s ease-out .1s, transform .2s ease-out .1s;
    transform: scale(1);
    opacity: 1;
}

label.toggler>span:after {
    top: 50%;
    z-index: 3;
    transition: transform .2s cubic-bezier(0.44, -0.12, 0.07, 1.15);
    width: calc(67px / 2.3);
    height: calc(67px / 2.3);
    transform: translate3d(0, -50%, 0);
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

//Animate the toggler when checked.
label.toggler>input[type="checkbox"]:checked~span:before {
    transform: scale(0);
    opacity: .7;
}

label.toggler>input[type="checkbox"]:checked~span:after {
    transform: translate3d(125%, -50%, 0);
}

@import 'customize.scss';
@import 'alert.scss';
@import 'ui.scss';
@import 'footer.scss';